
{% extends "learning_logs/base.html" %}

{% block page_header %}
	<div class="jumbotron">
		<h1 class="display-3">Отслеживайте информацию об интересующих темах</h1>

		{% if user.is_authenticated %}

			<p class="lead">Создайте собственный журнал для изучения интересующих тем.
				Храните в журнале список тем, которые вы изучаете. 
				Добавляйте новую информацию об интересующей вас теме или отредактируйте уже имеющуюся
			</p>
			
		{% else %}

			<p class="lead">Создайте собственный журнал для изучения интересующих тем.
				Храните в журнале список тем, которые вы изучаете. 
				Добавляйте новую информацию об интересующей вас теме или отредактируйте уже имеющуюся
			</p>

			<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
				role="button">Зарегистрироваться &raquo;</a>
				
		{% endif %}
	</div>
{% endblock page_header %}


